@charset "UTF-8";
/*.container {*/
    /*border: 1px solid red;*/
    /*margin: 10px;*/
/*}*/
/*.row {*/
    /*margin: 10px;*/
    /*border: 1px solid blue;*/
/*}*/
.container_whole {
    background-color: rgba(117,112,118,0.33);
}
.btn_m {
    margin-top: 12px;
}
.btn_w {
    width: 60px;
}
